<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- permissões -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:usesCleartextTraffic="true"
        android:label="safewalk"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- todo o conteúdo que já estava aqui (activity, meta-data, etc.) -->

        <service
            android:name=".EmergencyService"
            android:foregroundServiceType="microphone"
            android:exported="false"/>

    </application>
</manifest>